<app-modal
	title="Add Product"
	[(isVisible)]="isVisible"
	(close)="close()"
>
	<form class="add-product-form" [formGroup]="form" (ngSubmit)="submit()">
		<input
			class="app-input"
			formControlName="name"
			placeholder="Name"
			required/>

		<input
			class="app-input"
			formControlName="code"
			placeholder="Code"
			required/>

		<input
			class="app-input"
			formControlName="price"
			type="number"
			placeholder="Price"
			required/>

		@if (saveError()) {
			<p>{{ saveError() }}</p>
		}

		<div class="app-button-group">
			<button
				class="app-button app-primary-button"
				type="submit"
				[disabled]="isSaving()">

				{{ isSaving() ? 'Saving…' : 'Add' }}
			</button>

			<button
				class="app-button"
				(click)="close()">

				Cancel
			</button>
		</div>
	</form>
</app-modal>
