<app-modal
	i18n-title="@@addProductTitle"
	title="Add Product"
	[(isVisible)]="isVisible"
	(close)="close()"
>
	<form class="add-product-form" [formGroup]="form" (ngSubmit)="submit()">
		<input
			class="app-input"
			formControlName="name"
			placeholder="Name"
			i18n-placeholder="@@placeholderName"
			required/>

		<input
			class="app-input"
			formControlName="code"
			placeholder="Code"
			i18n-placeholder="@@placeholderCode"
			required/>

		<input
			class="app-input"
			formControlName="price"
			type="number"
			placeholder="Price"
			i18n-placeholder="@@placeholderPrice"
			required/>

		@if (saveError()) {
			<p>{{ saveError() }}</p>
		}

		<div class="app-button-group">
			<button
				class="app-button app-primary-button"
				type="submit"
				[disabled]="isSaving() || form.invalid">

				{{ addButtonLabel }}
			</button>

			<button
				class="app-button"
				(click)="close()"
				i18n="@@cancelButton">

				Cancel
			</button>
		</div>
	</form>
</app-modal>
